# Dependencies
node_modules/

#Build and Distribution Folders
dist/
build/

# Logs
npm-debug.log*
yarn-error.log*

# Environment Files
.env
.env.test

# Dependency Lock Files
package-lock.json

# Database Files
db/*.db